<p class="my-10 text-sm text-center text-gray-500">
	&copy; 2019 - {new Date().getFullYear()} —
	<a href="https://tuimagenx.cl" class="hover:underline" target="_blank"
		>TuImagenRx.cl</a
	>. Todos los derechos reservados.
</p>
